body {
  margin: 0;
  background: #eef0f1;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAVBAR */

.navBar {
  display: flex;
  flex-wrap: wrap;
  background-color: #2c2e44;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.navBar span {
  display: flex;
  align-items: flex-start;
  justify-self:flex-end;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bolder;
  height: 40px;
  margin: 0;
  width: 20%;
  color: #ffffff;
}

.box {
  width: 30px;
  height: 30px;
  display: block;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.svg-sher{
  width: 30px;
  height: 30px;
}


@media (min-width: 801px) {
  .navBar {
    height: 50px;
    justify-content: flex-start;
  }

  .box{
    margin: 0 0 8px 7px;
  }

  .navBar span {
    width: 15.5%;
    margin: 10px 0 0 0;
    justify-content: flex-end;
  }

}

/* Image display */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.search-box {
  display: flex;
  height: 30px;
  border-radius: 20px;
  width: 80%;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.search-box input {
  font-size: 20px;
  height: 100%;
  width: 70%;
  border: none;
  background-color: transparent;
  outline: none;
  text-align: center;
}

.icon-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.svg-mag:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22.5px;
  margin-bottom: 22.5px;
}

.image-box {
  width: 90%;
  height: 250px;
  margin: 15px;
  box-shadow: 0 0 7px -4px grey;
  border-radius: 2px;
  background-size: cover;
  background-position: top center;
}

@media (min-width: 801px) {

  .search-box {
    width: 30%;
    margin: 30px 0 0 0 ;
  }

  .search-box input {
    width: 80%;
  }

  .box {
    width: 20%;
  }

  .icon-button {
    width: 25px;
    height: 25px;
  }

  .main{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .image-box {
    width: 30%;
  }
}


/* Footer */

.footer {
  bottom: 0;
  color: #fff;
  height: 90px;
  background: #29303c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: solid #29303c 8px;
  flex-shrink: 0;
}

.contact {
  height: 80px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer a {
  color: white;
}